{% extends 'base.html.twig' %}

{% block body %}
<div class="card-item-neumo">
    <h2>Sections</h2> 
</div>

<div class="card-item-neumo">
    {{ form(form, {'method': 'POST'}) }} 
</div>


 {% endblock %}